* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: linear-gradient(to right, #3494e6, #ec6ead);
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #fff;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #06285f;  
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
  }
  
  
  
  
  .container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3vmin;
  }
  
  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #333;
    background-color: #ffd700;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .box:hover {
    background-color: #ffcc00;
    transform: scale(1.05);
  }
  
  #reset-btn, #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #reset-btn:hover, #new-btn:hover {
    background-color: #333;
    transform: scale(1.05);
  }
  
  #msg {
    color: #ffffc7;
    font-size: 5vmin;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }
  


  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #333;
    background-color: #ffd700;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .box:active {
    transform: scale(0.95);
  }
  